<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Link:</b>
  <%= @track.link %>
</p>

<p>
  <b>Mixtape:</b>
  <%= @track.mixtape_id %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
