<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Genre:</b>
  <%= @user.genre %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h1>
	Mixtapes for <%= @user.name %>
</h1>

